{{- /*gotype: github.com/kitcat-framework/kitcat/pkg/kitcat-cli/templates/gen_setup_migrations.AtlasParams */ -}}

variable "driver" {
  type = string
  default = "{{ .Driver }}"
}

variable "url_local_database" {
  type = string
  default = "{{ .DSN }}"
}

locals {
  dev_url = {
    mysql = "docker://mysql/8/dev"
    postgres = "docker://postgres/15"
    sqlite = "sqlite://file::memory:?cache=shared"
  }[var.driver]
}

data "external_schema" "gorm" {
  program = [
    "go",
    "run",
    "-mod=mod",
    "./cmd/kitmigrate",
  ]
}

env "gen_mig" {
  src = data.external_schema.gorm.url
  dev = local.dev_url
  migration {
    dir = "file://{{ .MigrationDir }}"
  }
  format {
    migrate {
      diff = "{{ .Diff }}"
    }
  }
}

env "apply_mig" {
  url = var.url_local_database
  dev = local.dev_url
  migration {
    dir = "file://{{ .MigrationDir }}"
  }
  format {
    migrate {
      diff = "{{ .Diff }}"
    }
  }
}
